<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="../static/imgs/logo_source.jpg" type="image/x-icon" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="../static/lib/bootstrap/5.1.3/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/index.css">
  <title>各种笔记-卫龙专属</title>
</head>

<body oncontextmenu="return false" onselectstart="return false" oncopy="return false">
  <div class="wt-div">
    <div class="tittle">
      <span><img src="../static/imgs/logo_white.png" alt="" srcset="" draggable="false"></span><!-- <span>登录</span> -->
    </div>
    <div class="middle">
      <div class="api" title="测试测试测试测试测试" onclick="goNotes(1)">
        <img src="../static/imgs/logo_white.png" draggable="false">
        <h6>测试试测试</h6>
      </div>
    </div>
    <div class="footer">
      <span>Copyright © 2022.11.17</span>
      <span title="卫龙的Github"><a href="https://github.com/gwt805/" target="_blank"><img src="../static/imgs/github4.svg"
            draggable="false"></a></span>
      <span title="卫龙的博客园"><a href="https://www.cnblogs.com/taotao0805/" target="_blank"><img
            src="../static/imgs/bky.png" draggable="false" style="width: 28px;"></a></span>
    </div>
    <canvas></canvas>
  </div>
</body>
<script src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="../static/lib/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
<script src="../static/lib/canvas-nest/2.0.4/canvas-nest.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/disable.js"></script>

</html>